@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&amp;display=swap');
.bg-header {
    background: #009DFF;
}

.title {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.bg-gradien{
    background: linear-gradient(180deg, #009DFF 0%, #81D2FF 100%);
}

.arrow-slide {
    position: absolute;
    left: 92.5%;
    right: 2.4%;
    top: 48.09%;
    bottom: 50.49%;

    transform: matrix(1, 0, 0, -1, 0, 0);
}
